<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flow Field UI</title>
    <link rel="stylesheet" href="base.css">
    <!-- <style> body {padding: 0; margin: 0;} </style> -->
    <script src="../vendor/vue/vue.js"></script>
    <script src="../vendor/p5/p5.js"></script>
    <script src="sketch.js"></script>
  </head>
  <body>
    <!-- <a href="https://p5js.org/reference/">p5.js Reference</a>  -->
    <div id="drawing"></div>
    <div id="config">
      <div>
        <button id="clearBackground">Clear</button>
        <span>
          Current Step: {{ currentStep }}, FPS: {{ fps }}
        </span>
      </div>
      <config-param 
        v-for="param in params"
        v-bind:param="param"
        v-bind:key="param.name">
      </config-param>
    </div>
  </body>
</html>
