body {
    background-color: #4080F0;
}

#visualizer {
    display: contents;
}

/* #controls {
} */

#drawing {
    text-align: center;
}

content {
    display: grid;
    grid-template-columns: minmax(900px, auto);
    background-color: #60A0F0;
    padding: 10px;
}

/* a {

} */