<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wells</title>
    <link rel="stylesheet" href="base.css">
    <script src="../vendor/vue/vue.js"></script>
    <script src="../vendor/p5/p5.js"></script>
    <script src="sketch.js"></script>
  </head>
  <body>
    <content>
      <div id="visualizer">
        <div id="drawing"></div>
        <div id="controls">
          <button id="clearBackground">Clear</button>
          <span>
            Current Step: {{ currentStep }}, FPS: {{ fps }}
          </span>
        </div>
      </div>
      <div id="config">
        <config-param
          v-for="param in params"
          v-bind:param="param"
          v-bind:key="param.name">
        </config-param>
      </div>
      <a href="https://p5js.org/reference/" target="_blank">p5.js Reference</a>
    </content>
  </body>
</html>
